################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JanperWebsite/obj
/JanperWebsite/bin
/packages
