

@{
    ViewBag.Title = "Index";
}
<div id="JanperEdge">
    <div class="content-wrapper full">
        <h1>JanperEdge&#174;</h1>
    </div>
    @Html.Partial("Matt")
    <br class="clearfix" />
    <hr />
    @Html.Partial("Woodgrain")
    <br class="clearfix" />
</div>


