@model List<JanperWebsite.Models.ImageSection>
@{
    ViewBag.Title = "Index";
}
<div id="JanperEdge">
    <div class="content-wrapper full">
        <h1>JanperEdge&#174;</h1>
    </div>
    @foreach (var section in Model)
    {
        @Html.Partial("ImageSection", section)

        if (Model.IndexOf(section) < Model.Count - 1)
        {
            <hr/>
        }
    }
    <br class="clearfix" />
</div>


