<div class="content-wrapper full">
    <h2>Matt</h2>
</div>
@{
    int counter = 0;
    foreach (string image in ViewBag.Matt)
    {
        String name = image.Split('/').ToList().Last();
        List<String> count = name.Split('.').ToList();
        <div class="content-wrapper quarter">
            <img src="@Url.Content(image)" />
            <h3>
                @count.First()<br />
            </h3>
        </div>
        counter++;
        if (counter % 4 == 0)
        {
            <br class="clearfix" />
        }
    }
}
