
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Natural Colours</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/classic-white.jpg" />
    <h3>Classic White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/designer-white.jpg" />
    <h3>Designer White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/parchment.jpg" />
    <h3>Parchment</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/alabaster.jpg" />
    <h3>Alabaster</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/new-antique-white.jpg" />
    <h3>Antique White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/latte.jpg" />
    <h3>Latte</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/chino.jpg" />
    <h3>Chino</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalColours/cuppuccino.jpg" />
    <h3>Cappuccino</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/NaturalColours/mocha.jpg" />
    <h3>Mocha</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/NaturalColours/sandstone.jpg" />
    <h3>Sandstone</h3>
</div>
<br class="clearfix" />
