
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Natural Woodgrain</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/NaturalWoodgrains/acacia-linea.jpg" />
    <h3>Acacia Linea</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/NaturalWoodgrains/charred-oak.jpg" />
    <h3>Charred Oak</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/NaturalWoodgrains/chestnut.jpg" />
    <h3>Chestnut</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/NaturalWoodgrains/salt-wash.jpg" />
    <h3>Salt Wash</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/NaturalWoodgrains/wenge-linea.jpg" />
    <h3>Wenge Linea</h3>
</div>