
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Sheen Standard</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenStandard/alabaster.jpg" />
    <h3>Alabaster</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenStandard/chino.jpg" />
    <h3>Chino</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenStandard/classic-white.jpg" />
    <h3>Classic White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenStandard/designer-white.jpg" />
    <h3>Designer White</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenStandard/latte.jpg" />
    <h3>Latte</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/SheenStandard/mocha.jpg" />
    <h3>Mocha</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/SheenStandard/new-antique-white.jpg" />
    <h3>New Antique White</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/SheenStandard/parchment.jpg" />
    <h3>Parchment</h3>
</div>
<br class="clearfix" />

<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/SheenStandard/sandstone.jpg" />
    <h3>Sandstone</h3>
</div>
<br class="clearfix" />

