
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Sheen Woodgrains</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenWoodgrains/acacia-linea.jpg" />
    <h3>Acacia Linea</h3>
</div>

<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/SheenWoodgrains/salt-wash.jpg" />
    <h3>Salt Wash</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/SheenWoodgrains/chestnut.jpg" />
    <h3>Chestnut</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/SheenWoodgrains/charred-oak.jpg" />
    <h3>Charred Oak</h3>
</div>
<br class="clearfix" />