
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Textured Colours</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/TexturedColours/alabaster.jpg" />
    <h3>Alabaster</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/TexturedColours/mocha.jpg" />
    <h3>Mocha</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/TexturedColours/latte.jpg" />
    <h3>Latte</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/TexturedColours/designer-white.jpg" />
    <h3>Designer White</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/TexturedColours/classic-white.jpg" />
    <h3>Classic White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/JanperEdge/TexturedColours/chino.jpg" />
    <h3>Chino</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/TexturedColours/cappuccino.jpg" />
    <h3>Cappuccino</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/TexturedColours/new-antique-white.jpg" />
    <h3>New Antique White</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/TexturedColours/parchment.jpg" />
    <h3>Parchment</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/JanperEdge/TexturedColours/sandstone.jpg" />
    <h3>Sandstone</h3>
</div>

