
<hr />
<ul>
  <li id="DuraS1">
    SeriesOne
  </li>
  <li id="DuraS2">
    SeriesTwo
  </li>
  <li id="DuraS3">
    SeriesThree
  </li>
  <li id="DuraS4">
    SeriesFour
  </li>
  <li id="DuraS5">
    SeriesFive
  </li>
  <li id="DuraColours">
    Colours & Finishes
  </li>
  <li id="DuraOptions">
    Options & Accessories
  </li>
</ul>
<div class="blurb-wrapper display-desktop">
  <h4 id="SeriesHeader"></h4>
  <p id="SeriesBlurb"></p>
</div>
