

@{
  ViewBag.Title = "JanperAcrylic";
}
<div class="mobile-sub-menu display-mobile">
  <div class="mobile-sub-menu-title"><span></span></div>
  <div class="mobile-sub-menu-control glyphicons glyphicons-chevron-down"></div>
  <div class="mobile-sub-menu-expanded">
    @Html.Partial("_DuraSubMenu")
  </div>
</div>

<div id="DuraForm">
  <div id="Options">
    <div class="content-wrapper full">
      <h1>DuraForm&#174;</h1>
      <h2>options <span>&amp;</span> accessories</h2>

      <p>
        Janper has a range of accessories available such as decorative flutes, circular flutes, wine racks, roller shutters, open shelves, <br />
        capping moulds and a range of one to eight pane colonial frames.
      </p>
    </div>
    <br class="clearfix" />
    <div class="content-wrapper quarter">
      <h3>Fold backs and wrap around panels</h3>
      <p>
        Janper's fold backs and wrap around panels enable end panels to be vinyl wrapped and returned without joins. Ideal for fridge panels and decorative pieces for furniture, our
        new wrap around panels are the solution
      </p>
      <hr />
      <p>
        Available in 100,200,300,400, <br />500 returns
        <br />
        Restricted by sheet size
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/wrap-around_800x400px.jpg" />
      <img src="~/Images/DuraForm/Options/fold-back-tech-illustration.png" />
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />

    <div class="content-wrapper quarter">
      <h3>Roller surrounds</h3>
      <p>
        Janpers roller surrounds showing a split and full pantry door
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/roller-surround_400px.jpg" />
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />

    <div class="content-wrapper quarter">
      <h3>Wine rack tubes</h3>
      <p>
        Wine rack tubes, available in black,white and stainless steel. <br />
        Overall size of tube 310mm front to back with 90mm hole
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/wine-rack_800x400px.jpg" />
      <img src="~/Images/DuraForm/Options/wine-rack-tech-illustration.png" />
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />
    <div class="content-wrapper quarter">
      <h3>Decorative moulds</h3>
      <p>
        Janper has a range of decorative flues, capping moulds and a range of one to eight pane colonial frames.
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/decorative-trims_800x400px.png" />
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />
    <div class="content-wrapper quarter">
      <h3>Door Variations</h3>
      <p>
        All DuraForm&#174; doors are standard as square finish, however all doors are available with shoulder arch, round arch, arch, double arch, double bow arch or bow arch.
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <div class="doors">
        <img src="~/Images/DuraForm/Options/shoulder-arch.jpg" />
        <p>
          Shoulder Arch
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/round-arch.jpg" />
        <p>
          Round Arch
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/arch.jpg" />
        <p>
          Arch
        </p>
      </div>
      <br class="clearfix" />
      <div class="doors">
        <img src="~/Images/DuraForm/Options/double-arch.jpg" />
        <p>
          Double Arch
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/double-bow-arch.jpg" />
        <p>
          Double Bow Arch
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/bow-arch.jpg" />
        <p>
          Bow Arch
        </p>
      </div>
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />
    <div class="content-wrapper quarter">
      <h3>Profiles</h3>
    </div>
    <div class="content-wrapper threequarter duraform-profiles">
      <div class="doors">
        <img src="~/Images/DuraForm/Options/square.png" />
        <p>
          Square
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/2mm_pencil.png" />
        <p>
          2mm Pencil
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/6mm_pencil.png" />
        <p>
          6mm Pencil
        </p>
      </div>
      <br class="clearfix" />
      <div class="doors">
        <img src="~/Images/DuraForm/Options/6mm_pencil.png" />
        <p>
          6mm Stepped Pencil
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/ogee.png" />
        <p>
          Ogee
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/12mm_bevel.png" />
        <p>
          12mm Bevel
        </p>
      </div>
      <br class="clearfix" />
      <div class="doors">
        <img src="~/Images/DuraForm/Options/21mm_bevel.png" />
        <p>
          21mm Bevel
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/30mm_stepped_bevel.png" />
        <p>
          30mm Stepped Bevel
        </p>
      </div>
      <div class="doors">
        <img src="~/Images/DuraForm/Options/21mm_radius_bevel.png" />
        <p>
          21mm Radius Bevel
        </p>
      </div>
      <br class="clearfix" />
      <div class="doors">
        <img src="~/Images/DuraForm/Options/scallop_2mm_pencil.png" />
        <p>
          Scallop 2mm Pencil
        </p>
      </div>
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />
    <div class="content-wrapper quarter">
      <h3>Recess Rail</h3>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/recess_rail_800x400px.jpg" />
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />
    <div class="content-wrapper quarter">
      <h3>Frames</h3>
      <p>
        Frames are available up to 10 panes depending on door size.
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/frames.png" />
    </div>
    <br class="clearfix" />
    <br class="clearfix" />
    <hr />
    <div class="content-wrapper quarter">
      <h3>Cap moulds</h3>
      <p>
        Two sizes of cap moulds are available.
      </p>
    </div>
    <div class="content-wrapper threequarter">
      <img src="~/Images/DuraForm/Options/cap_moulds.png" />
    </div>
  </div>
</div>
