@model JanperWebsite.Models.Model_Contact

@{
    ViewBag.Title = "Index";
}

<div id="ContactPage">
    <div class="content-wrapper half">
        <h1>
            <span>call</span> us on <br class="display-mobile" /><span>+61 3 9720 0533</span>
        </h1>
        <p>We have your cabinetry covered...</p>

        <ul>
            <li>
                Fax: +61 9720 0805
            </li>
            <li>
                Email: <a href="mailto:info@janper.com.au">info@janper.com.au</a>
            </li>
            <li>
                Showroom Hours:
            </li>
            <li>
                Monday - Friday 9:00am to 3:30pm
            </li>
            <li>
                19 Newcastle Road
            </li>
            <li>
                Bayswater Victoria 3153
            </li>
            <li>
                AUSTRALIA
            </li>
        </ul>
    </div>
    <div class="content-wrapper half">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=19%20Newcastle%20Road%20Bayswater%20VICTORIA%203153%20AUSTRALIA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
            <style>
                .mapouter {
                    text-align: right;
                    height: 400px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 400px;
                    width: 600px;
                }
            </style>
        </div>
    </div>
    <br class="clearfix" />
</div>
