<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 style="font-family:sans-serif; color:#0b67a4; font-size:14pt;">Sample Request notification</h1>
    <h2 style="font-family:sans-serif; color:#333333; font-size:12pt;">We received a sample request</h2>
    <p style="font-family:sans-serif; color:#333333; font-size:11pt;">??FIRSTNAME?? contact details are:</p>
    <ul>
        <li style="font-family:sans-serif; color:#333333; font-size:11pt;"><strong>Address:</strong> ??ADDRESS??</li>
        <li style="font-family:sans-serif; color:#333333; font-size:11pt;"><strong>Email:</strong> ??EMAIL??</li>
    </ul>
    <p style="font-family:sans-serif; color:#333333; font-size:11pt;"><strong>Requested Samples</strong>:</p>
    <p style="font-family:sans-serif; color:#333333; font-size:11pt;">??COMMENTS??</p>
</body>
</html>
