
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Impressions</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/Impressions/amazon.jpg" />
    <h3>Amazon</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/Impressions/desert.jpg" />
    <h3>Desert</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/Impressions/forestwood.jpg" />
    <h3>Forestwood</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/Impressions/snowgum.jpg" />
    <h3>Snowgum</h3>
</div>