
@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper full">
    <h3>Natural Colours</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/classic-white.jpg" />
    <h3>Classic White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/designer-white.jpg" />
    <h3>Designer White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/parchment.jpg" />
    <h3>Parchment</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/alabaster.jpg" />
    <h3>Alabaster</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/new-antique-white.jpg" />
    <h3>Antique White</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/latte.jpg" />
    <h3>Latte</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/chino.jpg" />
    <h3>Chino</h3>
</div>
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/cuppuccino.jpg" />
    <h3>Cappuccino</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter no-border">
    <img src="~/Images/DuraForm/Colours/NaturalColours/lx-licorice-linea.jpg" />
    <h3>Lx Licorice Linea</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/NaturalColours/lx-mushroom-linea.jpg" />
    <h3>Lx Mushroom Linea</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/NaturalColours/lx-oyster-linea.jpg" />
    <h3>Lx Oyster Linea</h3>
</div>
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/NaturalColours/mocha.jpg" />
    <h3>Mocha</h3>
</div>
<br class="clearfix" />
<div class="content-wrapper quarter">
    <img src="~/Images/DuraForm/Colours/NaturalColours/sandstone.jpg" />
    <h3>Sandstone</h3>
</div>