<div class="content-wrapper full">
    <h1>
        Thank you for contacting us. <br />
        Your enquiry has been sent. <br />
        We will be in contact with you <br />
        within the next 24 hours.
    </h1>
</div>